*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{

    grid-area: nav;
    background-color: blue;

}

aside{
    grid-area: aside;
    background-color: green;
    
}

main{
    grid-area: main;
    background-color: blueviolet;   
}

footer{
    grid-area: footer;
    background-color: aquamarine;
}



.wrapper{
    display: grid;
    grid-template:
    "nav    nav" 10vh 
    "aside   main" 80vh 
    "footer  footer" 10vh /
    15vh    auto;
}