*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav{
    grid-area: nav;
    background-color: #25527b;

}

aside{
    grid-area: aside;
    background-color: #e7e7e7;
    
}

main{
    grid-area: main;
    background-color: #e7e7e7;  
}

footer{
    grid-area: footer;
    background-color: #fff
}



.wrapper{
    display: grid;
    grid-template:
    "nav    nav" 10vh 
    "aside   main" 80vh 
    "footer  footer" 10vh /
    15vh    auto;
}

nav, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 1rem;
    margin: 1rem;

}




.categories h1{
    margin-bottom: 1rem;
}

.item-quantity{
    color: rgb(207, 208, 209);
}